@import "tailwindcss";

:root {
  --background: #f9fafb;
  --foreground: #171717;

  /* Primary Brand Colors */
  --nav:#171717;

  --primary: #9966cc;
  --primary-dark: #7b4fa5;
  --secondary: #6d83b5;
  --secondary-dark: #4A5E89;

  /* Neutrals */
  --bg: #F9FAFB;
  --surface: #F0EBE3;
  --border: #e5e7eb;
  --text: #1f2937;
  --text-muted: #6b7280;

  /* Accents */
  --accent: #d4af37;
  --accent-light: #f5e6a9;

  /* Special Sections */
  --verse-bg: #fbf8ff;
  --news-bg: #f3f4f6;
}

@theme inline {

  --color-nav: var(--nav);
  --color-primary: var(--primary);
  --color-primary-dark: var(--primary-dark);

  --color-secondary: var(--secondary);
  --color-secondary-dark: var(--secondary-dark);

  --color-bg: var(--bg);
  --color-surface: var(--surface) ;
  --color-border: var(--border);

  --color-text: var(--text);
  --color-text-muted: var(--text-muted);
  
  --color-accent: var(--accent);
  --color-accent-light: var(--accent-light);

  --color-verse-bg: var(--verse-bg);
  --color-news-bg: var(--news-bg);

}


body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}
